.title {
  line-height: 60px !important;
  margin-bottom: 4px !important;
  font-size: 36px !important;
}

.subtitle {
  color: rgba(255, 255, 255, 0.685) !important;
  font-size: 16px !important;
  font-family: "Roboto", sans-serif;
}

#home-text {
  flex: 1 1 auto;
}

#home-crewmate {
  flex: 1 0 auto;
  min-width: 40%;
  max-width: 40%;
  cursor: default;
}
