.sub-card {
  color: rgba(255, 255, 255, 0.863) !important;
  font-size: 17px;
  border-radius: 20px;
  border-width: 4px;
  background-color: rgba(29, 30, 40, 0.835) !important;
}

.sub-card .card-title {
  font-family: "Poppins", sans-serif !important;
  font-weight: 700 !important;
  font-size: 1.5em;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.sub-card .card-title img {
  height: auto;
  width: 2em;
}
