body {
    font-family: 'Poppins', sans-serif !important;
	background: url("/assets/AutoBG.png");
	background-size: 100%;
    background-color: #1D1E28;
    color: #fff;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    border-top: 6px #7289DA solid !important;
    font-size: 16px;
}

.card-title {
    font-size: 50px !important;
    line-height: 15px !important;
    letter-spacing: 0em !important;
    font-weight: bold !important;
    margin: 0.2em;
}


/* Added By Me */

.floating {   
    animation-name: floating; 
    animation-duration: 5s; 
    animation-iteration-count: infinite; 
    animation-timing-function: ease-in-out; 
    margin-left: 30px; 
    margin-top: 5px; 
    transform: translate(0,  10px);
} 
  
@keyframes floating { 
    0% { transform: translate(0,  0px); } 
    50%  { transform: translate(0, 15px); } 
    100%   { transform: translate(0, -0px); }     
} 

img#blue_guy {
    max-width: 40%;
    float: right;
    cursor: default;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 0px grey; 
  border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #7289DA; 
  border-radius: 50px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #4E5D94; 
}
/* Smooth Scroll */
html {
  scroll-behavior: smooth;
}


/* Snow stuff */
@media screen and (min-width: 5in) {

    #snowflakeContainer {
    position: absolute;
    left: 0px;
    top: 0px;
    display: none;
  }
  .snowflake {
    position: absolute;
    background-color: rgb(255, 255, 255);
    user-select: none;
    z-index: 100;
    pointer-events: none;
    border-radius: 50%;
    width: 10px;
    height: 10px;
  }
    }

/* ---------------------- */


.nav-link {
     font-size: 14px !important;
     background: transparent !important;
     font-family: Lato, sans-serif !important;
     text-transform: capitalize !important;
 }
 .nav-link:hover {
     background: transparent !important;
     color: #7289DA !important;
     font-weight: bold !important;
 }

 .login-btn {
     border: 2px solid #7289DA !important;
     font-size: 10px !important;
 }
 .login-btn:hover {
     background: #7289DA !important;
 }
.navbar {
    box-shadow: none !important
}

.navbar-brand {
    font-size: 25px !important
}

.navbar-toggler-icon {
    color: #fff !important
}

.btn {
    border-radius: 10px !important;
    font-size: 16px !important;
    font-weight: 600 !important;
    text-transform: uppercase !important;
}

.btn-primary {
    background-color: #7289DA!important
}
.btn-secondary {
    background-color: #2C2F33 !important
}
.heading {
    padding: 50px;
    padding-top: 7rem;
    padding-bottom: 11rem;
    color: #fff !important;
    background-image: url("../assets/wavy-blurple-by-nouridio.svg") !important;
    background-position: bottom !important;
    background-size: 275% !important;
    background-repeat: no-repeat !important;
}


.title {
    line-height: 90px !important;
    margin-bottom: -2px !important;
    font-size: 36px !important
}

.subtitle {
    color: rgba(255, 255, 255, 0.685) !important;
    font-size: 16px !important;
    font-family: 'Lato', sans-serif;
}


.features {
    text-align: center !important;
    background: #7289DA !important;
    padding: 60px 20px !important;
    background-image: url("") !important;
    background-position: bottom !important;
    background-size: 200% !important;
    background-repeat: no-repeat !important;
}
.features .title {
    font-size: 40px !important;
    color: #ffffff !important;
    line-height: 70px !important;
}

.features .subtitle {
    font-size: 20px !important;
    color: #a2a8bd;
}

.features .card-body {
    text-align: left !important;
}

.features .card-title {
    margin: 0 0 -3px !important;
}
.cards {
    margin-top: 30px !important;
}

.card {
    border-radius: 5px !important;
    box-shadow: none !important;
}

.card-title {
    font-size: 28px !important;
    font-weight: 600 !important;
    color: #7289DA !important;
    margin-top: 4rem;
}

.statistics {
	background-image: url(../assets/wavy-blurple-upsidedown.svg) !important;
    background-position: top !important;
    text-align: center !important;
    padding-top: 300px !important;
	background-size: 150% !important;
    background-repeat: no-repeat !important;
}

.statistics .card-body{
    padding: 0 !important;
    height: 280 !important;
    width: 332 !important;
    max-height: 280 !important;
    max-width: 332 !important;
}

.statistics .title {
    font-size: 40px !important;
    color: #ffffff !important;
    line-height: 70px !important;
}

.statistics .subtitle {
    font-size: 20px !important;
    color: #a2a8bd;
}

.card.statistic {
    background: transparent !important;
    box-shadow: none !important;
    color: #f7f7f7 !important;
}


.page_end {
    background-image: url("../assets/wavy-light-by-nouridio.svg") !important;
    background-position: bottom !important;
    background-size: 230% !important;
    background-repeat: no-repeat !important;
}
.start {
    padding: 60px 50px !important
}

.start .card {
    background: transparent !important;
    color: #f6f9ff !important;
}

.features .card {
    background: #1D1E28;
    border-radius: 22px !important;
    align-items: top;
    border: 4px solid #7289DA;
}
.features .card-text {
    color: rgba(255, 255, 255, 0.863) !important;
    font-size: 20px;
    margin-top: 10px;
}

.features .card-body {
    padding: 40px 40px 40px 30px !important;
}

.navbar-toggler-icon {
    color: #fff !important
}
.footer {
    text-align: center !important;
    padding: 5px 6px !important;
    color: #ecf2ff;
    padding: 30px 30px !important
}

.footer .nouridio {
    font-family: 'Montserrat' !important;
    font-style: normal !important;
    font-weight: 600 !important;
    font-size: 16px !important;
    line-height: 5px !important;
    letter-spacing: 0.15em !important;
    font-variant: small-caps !important;
}

.footer .nouridio a {
    color: #7289DA !important;
    text-decoration: none !important;
}

.footer .bot-footer {
    text-align: center !important;
    color: #a2a8bd !important
}
