body {
    font-family: 'Poppins', sans-serif !important;
	background: url("/assets/AutoBG.png");
    background-color: #1D1E28;
    color: #fff;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    border-top: 6px #7289DA solid !important;
    font-size: 16px;
    background-attachment: fixed;
    background-size: cover !important;
    background-position: top center;
}

.flier {
	pointer-events: none;
}

.flier > * {
/* Adjust animation duration to change the element’s speed */
        animation: fly 50s linear infinite;
        pointer-events: none !important;
	top: 0;
	left: 0;
	transform: translateX(-120%) translateY(-120%) rotateZ(0);
	position: fixed;
	animation-delay: 6s;
	z-index: -1;
}

 /* Keyframe values control where the element will begin
    and end its trajectory across the screen. Each rule
    represents a path the element follows across the screen. */


@keyframes fly {

	98.001%, 0% {
                display: block;
		transform: translateX(-200%) translateY(100vh) rotateZ(0deg)
	}

	15% {
		transform: translateX(100vw) translateY(-100%) rotateZ(180deg)
	}

	15.001%, 18% {
		transform: translateX(100vw) translateY(-30%) rotateZ(0deg)
	}

	40% {
		transform: translateX(-200%) translateY(3vh) rotateZ(-180deg)
	}

	40.001%, 43% {
		transform: translateX(-200%) translateY(-100%) rotateZ(-180deg)
	}

	65% {
		transform: translateX(100vw) translateY(50vh) rotateZ(0deg)
	}

	65.001%, 68% {
		transform: translateX(20vw) translateY(-200%) rotateZ(180deg)
	}

	95% {
		transform: translateX(10vw) translateY(100vh) rotateZ(0deg)
	}
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 0px grey; 
  border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #7289DA; 
  border-radius: 50px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #4E5D94; 
}
/* Smooth Scroll */
html {
  scroll-behavior: smooth;
}



.nav-link {
     font-size: 14px !important;
     background: transparent !important;
     font-family: Lato, sans-serif !important;
     text-transform: capitalize !important;
 }
 .nav-link:hover {
     background: transparent !important;
     color: #7289DA !important;
     font-weight: bold !important;
 }


 
.navbar {
    box-shadow: none !important;
    margin-bottom: 0em;
}

.navbar-brand {
    font-size: 25px !important
}

.navbar-toggler-icon {
    color: #fff !important
}




.title {
    line-height: 90px !important;
    margin-bottom: -2px !important;
    font-size: 36px !important;
    padding-top: 0px;
}

.subtitle {
    color: rgba(255, 255, 255, 0.685) !important;
    font-size: 16px !important;
    font-family: 'Lato', sans-serif;
}


.features {
    text-align: center !important;
    background-image: url("") !important;
    background-position: bottom !important;
    background-size: 200% !important;
    background-repeat: no-repeat !important;
}
.features .title {
    font-size: 40px !important;
    color: #ffffff !important;
    line-height: 50px !important;
    padding-top: 0px;
}

.features .subtitle {
    font-size: 20px !important;
    color: #a2a8bd;
}

@media (min-width: 480px){
   .features .card-body {
    text-align: left !important;
    width: 350px;
    } 
}
@media (max-width: 480px){
    .features .card-body {
     text-align: left !important;
     } 
 }



.features .card-title {
    margin: 0 0 -3px !important;
}
.cards {
    margin-top: 0px !important;
}

.card {
    border-radius: 5px !important;
    box-shadow: none !important;
}

.card {
    border-radius: 5px !important;
    box-shadow: none !important;
}

.card-title {
    font-size: 28px !important;
    font-weight: 600 !important;
    margin-top: 4rem;
}


.card.statistic {
    background: transparent !important;
    box-shadow: none !important;
    color: #f7f7f7 !important;
}



.start .card {
    background: transparent !important;
    color: #f6f9ff !important;
}


.features .card {
    background: #1D1E28;
    border-radius: 22px !important;
    align-items: top;
    margin: 2%;
}


.features .card-text {
    color: rgba(255, 255, 255, 0.863) !important;
    font-size: 17px;
    margin-top: 10px;
}

.features .card-body {
    padding: 10px 40px 40px 30px !important;
}

.navbar-toggler-icon {
    color: #fff !important
}


