.stat_card {
  text-align: center;
  font-family: "Poppins";
}

.stat_card .stat_data {
  font-size: 4em;
  font-weight: 700;
  color: #7289da !important;
  line-height: 1;
  min-width: 3em;
  text-shadow: 0 0 5px black;
}

.stat_label {
  font-size: 1.3em;
  line-height: 1;
  margin-top: 0;
}

.home-stats {
  display: flex;
  flex-direction: row;
}

.fadeOut {
  opacity: 0;
  width: 0;
  transition: width 0.5s 0.5s, height 0.5s 0.5s, opacity 0.5s;
}

.fadeIn {
  opacity: 1;
  width: auto;
  transition: width 0.5s, height 0.5s, opacity 0.5s 0.5s;
}
