.navbar {
  font-family: "Poppins", sans-serif !important;
  font-weight: 700 !important;
}

.navbar-dark .navbar-toggler-icon {
  background-image: url("../assets/img/svg/menu_icon.svg") !important;
  font-size: 0.75em;
}

.navbar-dark .navbar-nav .nav-link {
  color: white;
  transition: color 200ms;
}

.navbar-collapse {
  padding: 0.25rem 0.75rem;
}

.navbar .navbar-toggler {
  outline: 0;
  cursor: pointer;
  border: none;
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .navbar-collapse {
    padding: 0;
  }

  .navbar-dark .navbar-nav .nav-link:not(:first-child) {
    margin-left: 0.75rem;
  }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
}
