@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@700&family=Roboto&display=swap");

html {
  scroll-behavior: smooth;
  overflow-y: scroll;
  height: 100%;
}

html,
body {
  font-size: 16px;
  min-height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  font-family: "Roboto", sans-serif !important;
  background-color: #23272a;
  background-image: url("../public/assets/img/bg.png");
  background-position: center center;
  background-attachment: fixed;
  background-size: cover !important;
  color: white !important;
}

#__next {
  display: flex;
  flex: 1 0 auto;
  min-height: 100%;
  overflow-y: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Poppins", sans-serif !important;
  font-weight: 700 !important;
}

.floating {
  animation-name: floating;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  margin-left: 30px;
  margin-top: 5px;
  transform: translate(0, 10px);
}

@keyframes floating {
  0% {
    transform: translate(0, 0px);
  }
  50% {
    transform: translate(0, 15px);
  }
  100% {
    transform: translate(0, -0px);
  }
}

.stat_card {
  text-align: center;
  font-family: "Poppins";
}

.stat_card .stat_data {
  font-size: 4em;
  font-weight: 700;
  color: #7289da !important;
  line-height: 1;
  min-width: 3em;
  text-shadow: 0 0 5px black;
}

.stat_label {
  font-size: 1.3em;
  line-height: 1;
  margin-top: 0;
}

.home-stats {
  display: flex;
  flex-direction: row;
}

.fadeOut {
  opacity: 0;
  width: 0;
  transition: width 0.5s 0.5s, height 0.5s 0.5s, opacity 0.5s;
}

.fadeIn {
  opacity: 1;
  width: auto;
  transition: width 0.5s, height 0.5s, opacity 0.5s 0.5s;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 0px grey;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background-color: #7289da;
  transition: background-color 200ms;
  border-radius: 50px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background-color: #4e5d94;
  transition: background-color 200ms;
}

::selection {
  background-color: #1d1e28 !important;
}

#main-content {
  background: #2c2f33;
  height: 100%;
}

.theatric #main-content,
.theatric header,
.theatric footer {
  background: transparent !important;
}

.container-fluid > *,
.container > * {
  margin-left: -15px;
  margin-right: -15px;
}

.sub-card {
  color: rgba(255, 255, 255, 0.863) !important;
  font-size: 17px;
  border-radius: 20px;
  border-width: 4px;
  background-color: rgba(29, 30, 40, 0.835) !important;
}

.sub-card .card-title {
  font-family: "Poppins", sans-serif !important;
  font-weight: 700 !important;
  font-size: 1.5em;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.sub-card .card-title img {
  height: auto;
  width: 2em;
}

.btn {
  font-family: "Poppins", sans-serif !important;
  font-weight: 700 !important;
  border-radius: 10px !important;
  font-size: 16px !important;
  font-weight: 600 !important;
  text-transform: uppercase !important;
  outline: none;
  border: none;
  margin: 0;
  margin-bottom: 0.75rem;
}

.btn {
  margin-right: 0.5em;
}

.btn:hover {
  background-color: #5667a6;
}

.btn-lg {
  font-size: 1em;
  border-radius: 0.25rem;
  padding: 15px 48px;
}

.btn-primary {
  background-color: #7289da;
}

.btn-secondary {
  background-color: #2c2f33;
}

.btn-premium {
  background-color: #3b7bbf;
}

.btn-premium:hover {
  background-color: #2f6298;
}

.title {
  line-height: 60px !important;
  margin-bottom: 4px !important;
  font-size: 36px !important;
}

.subtitle {
  color: rgba(255, 255, 255, 0.685) !important;
  font-size: 16px !important;
  font-family: "Roboto", sans-serif;
}

#home-text {
  flex: 1 1 auto;
}

#home-crewmate {
  flex: 1 0 auto;
  min-width: 40%;
  max-width: 40%;
  cursor: default;
}

.navbar {
  font-family: "Poppins", sans-serif !important;
  font-weight: 700 !important;
}

.navbar-dark .navbar-toggler-icon {
  background-image: url("../public/assets/img/svg/menu_icon.svg") !important;
  font-size: 0.75em;
}

.navbar-dark .navbar-nav .nav-link,
.navbar-text {
  color: white;
  transition: color 200ms;
}

.navbar-text {
  cursor: default;
}

.navbar-collapse {
  padding: 0.25rem 0.75rem;
}

.navbar .navbar-toggler {
  outline: 0;
  cursor: pointer;
  border: none;
}

.user-logged-in {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: #7289da !important;
  /* background: rgba(255,255,255,0.1); */
  padding: 0.5rem;
  border-radius: 10px;
  line-height: 1.15;
}

.user-logged-in .user-image {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 100px;
  margin-right: 0.5rem;
  border: solid 3px #7289da;
}

.user-logged-in .user-signout {
  font-size: 0.75em;
  color: white;
  cursor: pointer;
}

.datapage {
}
.datapage ~ footer {
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .navbar-collapse {
    padding: 0;
  }

  .navbar-dark .navbar-nav .nav-link:not(:first-child) {
    margin-left: 0.75rem;
  }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
}
