@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@700&family=Roboto&display=swap");

:root {
  --blurple: #7289da;
  --blurple2: #4e5d94;
  --darker: #2c2f33;
  --darkest: #23272a;
  --premium: #3b7bbf;
}

html {
  scroll-behavior: smooth;
  overflow-y: scroll;
  height: 100%;
}

html,
body {
  font-size: 16px;
  min-height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  font-family: "Roboto", sans-serif !important;
  background-color: var(--darkest);
  background-image: url("../public/assets/img/bg.png");
  background-position: center center;
  background-attachment: fixed;
  background-size: cover !important;
  color: white !important;
}

pre {
  background-color: var(--darkest);
  border-radius: 5px;
  color: white;
  padding: 1rem;
}

#__next {
  display: flex;
  flex: 1 0 auto;
  min-height: 100%;
  overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Poppins", sans-serif !important;
  font-weight: 700 !important;
}

.text-sentence-case {
  text-transform: capitalize;
}

.text-blurple {
  color: var(--blurple);
}

.text-premium {
  color: var(--premium);
}

.text-ellipsis {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.floating {
  animation-name: floating;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  margin-left: 30px;
  margin-top: 5px;
  transform: translate(0, 10px);
}

@keyframes floating {
  0% {
    transform: translate(0, 0px);
  }
  50% {
    transform: translate(0, 15px);
  }
  100% {
    transform: translate(0, -0px);
  }
}

.stats-tooltip .tooltip-inner {
  color: black;
  font-size: 1.1em;
  font-weight: bold;
  background-color: #7289da;
  border: none;
  outline: none;
  border-radius: 5px;
  opacity: 1;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.stats-tooltip.tooltip.show {
  opacity: 1 !important;
}

.stats-tooltip .arrow::before {
  opacity: 0;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 0px grey;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background-color: var(--blurple);
  transition: background-color 200ms;
  border-radius: 50px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background-color: var(--blurple2);
  transition: background-color 200ms;
}

::selection {
  background-color: #7289da !important;
}

.main_container {
  display: flex;
  flex-direction: column;
}

.theatric.main_container {
  background-image: url("../public/assets/img/svg/blurple-waves.svg");
  background-attachment: fixed;
  background-position: bottom;
  background-size: 200%;
  background-repeat: no-repeat;
}

.main_container > header {
  margin-left: -15px;
  margin-right: -15px;
  margin-bottom: 0;
  box-shadow: none;
}

#main-content,
header,
footer {
  background-color: var(--darkest);
  margin-left: -15px;
  margin-right: -15px;
}

#main-content {
  background-color: var(--darker);
  height: 100%;
}

.dimmed #main-content,
.dimmed header,
.dimmed footer {
  background: rgba(0, 0, 0, 0.55);
}

.theatric #main-content {
  background: transparent !important;
  margin-left: 0;
  margin-right: 0;
}

.theatric #main-content,
.theatric header,
.theatric footer {
  background: transparent !important;
}

.sub-card {
  color: rgba(255, 255, 255, 0.863) !important;
  font-size: 17px;
  border-radius: 20px;
  border-width: 4px;
  background-color: rgba(29, 30, 40, 0.835) !important;
}

.sub-card .card-title {
  font-family: "Poppins", sans-serif !important;
  font-weight: 700 !important;
  font-size: 1.5em;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.sub-card .card-title img {
  height: auto;
  width: 2em;
}

.btn {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  border-radius: 10px !important;
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  outline: none;
  border: none;
  margin: 0;
}

.btn:hover {
  background-color: #5667a6;
}

.btn-lg {
  font-size: 1em;
  border-radius: 0.25rem;
  padding: 15px 48px;
}

.btn-group-sm > .btn,
.btn-sm {
  font-size: 0.875rem;
}

.btn-primary {
  background-color: var(--blurple);
}

.btn-secondary {
  background-color: var(--darker);
}

.btn-dark:hover {
  background-color: var(--darkest);
}

.btn-premium {
  color: white;
  background-color: var(--premium);
}

.btn-premium:hover {
  color: white;
  background-color: #2f6298;
}

.btn-premium.disabled {
  color: #fff;
  background-color: var(--dark);
  border-color: var(--darker);
}

.title {
  line-height: 60px !important;
  margin-bottom: 4px !important;
  font-size: 36px !important;
}

.subtitle {
  color: rgba(255, 255, 255, 0.685) !important;
  font-size: 16px !important;
  font-family: "Roboto", sans-serif;
}

#home-text {
  flex: 1 1 auto;
}

#home-crewmate {
  flex: 1 0 auto;
  min-width: 40%;
  max-width: 40%;
  cursor: default;
}

#home-links .btn {
  width: 100%;
}

.navbar,
.font-family-title {
  font-family: "Poppins", sans-serif !important;
  font-weight: 700 !important;
}

.navbar-dark .navbar-toggler-icon {
  background-image: url("../public/assets/img/svg/menu_icon.svg") !important;
  font-size: 0.75em;
}

.navbar-dark .navbar-nav .nav-link,
.navbar-text {
  color: white;
  transition: color 200ms;
}

.navbar-text {
  cursor: default;
}

.navbar-collapse {
  padding: 0.25rem 0.75rem;
}

.navbar .navbar-toggler {
  outline: 0;
  cursor: pointer;
  border: none;
}

.user-logged-in {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: var(--blurple) !important;
  /* background: rgba(255,255,255,0.1); */
  padding: 0.5rem;
  border-radius: 10px;
  line-height: 1.15;
}

.user-logged-in .user-image {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 100px;
  margin-right: 0.5rem;
  border: solid 3px var(--blurple);
}

.user-logged-in .user-signout {
  font-size: 0.75em;
  color: white;
  cursor: pointer;
}

.premium-perks {
  justify-content: center;
  flex-wrap: wrap;
  max-width: 100%;
}

.premium-card,
.premium-perk-card {
  border-radius: 10px;
  background-color: var(--darkest);
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
  transform: none;
  transition: transform 250ms;
  max-width: 350px;
}

.premium-perk-card {
  margin: 0.5rem;
  min-width: 350px;
}

.premium-card:hover {
  transform: translateY(-0.5em);
  transition: transform 250ms;
}

.premium-card .card-body {
  padding: 1rem;
}

.premium-card img {
  display: block;
  max-width: 100px;
  width: auto;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1.25em;
}

.premium-card .card-text {
  margin-top: 1.25rem;
}

.premium-card .list-group-item {
  background-color: rgba(0, 0, 0, 0.2);
}

.card-columns {
  column-count: 4 !important;
}

@media (min-width: 576px) {
  .card-deck .card.premium-card {
    margin-bottom: 15px;
  }
}

.guild-container {
  border-radius: 15px;
  background-color: var(--darkest);
  display: flex;
  min-width: calc(25% - 1rem);
  align-items: center;
  padding: 0.75rem;
  margin: 0.5rem 0.5rem;
  justify-content: flex-start;
  cursor: pointer;
}

.guild-container .guild-icon,
.premium-guild-select-dropdown .guild-icon,
.guild-dropdown-item .guild-icon {
  width: 50px;
  height: 50px;
  border: none;
  background: -moz-linear-gradient(top left, #555, var(--darker));
  background: linear-gradient(to bottom right, #555, var(--darker));
  margin-right: 0.75rem;
  overflow: hidden;
  border-radius: 100px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  background-size: 50px 50px;
  flex: 0 0 auto;
}

.premium-guild-select .dropdown-menu {
  background: var(--darker);
  color: white;
  max-height: 25em;
  overflow: auto;
  padding: 0;
  margin: 0;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.guild-dropdown-item,
.premium-guild-select-dropdown {
  align-items: center;
  font-weight: bold;
  color: white;
  display: flex;
  margin-left: auto;
  margin-right: auto;
}

.guild-dropdown-item {
  padding: 0.5rem 1rem;
}

.guild-dropdown-item:hover,
.guild-dropdown-item:focus {
  color: white;
  background-color: var(--darkest);
}

.guild-dropdown-item > * {
  pointer-events: none;
}

.premium-guild-select-dropdown .guild-icon,
.guild-dropdown-item .guild-icon {
  width: 35px;
  height: 35px;
}

.premium-guild-select .dropdown-toggle::after {
  margin-left: 0.75em;
}

.guild-container .guild-details {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  flex: 0 1 auto;
}

.guild-container .guild-buttons {
  flex: 0 0 auto;
}

.guild-icon img {
  width: inherit;
  height: inherit;
}

.guild-abbr {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 900;
  height: 100%;
  max-width: 50px;
  max-height: 50px;
  font-family: "Roboto", sans-serif !important;
  text-align: center;
  font-weight: 700 !important;
}

.custom-select,
.guild-input {
  color: white;
  vertical-align: middle;
  background-color: var(--darkest);
  border: none;
}

.disabled-wrap {
  cursor: not-allowed;
}

.custom-select#guild_select {
  cursor: pointer;
}

.custom-select#guild_select:disabled {
  background-color: var(--darkest);
  cursor: not-allowed;
}

.guild-input:focus,
.guild-input.focus {
  color: white;
  background-color: var(--darkest);
}
.home-stats-wrapper {
  cursor: default;
  width: 100%;
  margin: 0;
}

.stat-card {
  text-align: center;
  font-family: "Poppins";
  cursor: default;
  display: inline-block;
}

.stat-card .stat-data {
  font-size: 4em;
  font-weight: 700;
  color: #7289da !important;
  line-height: 1;
  text-shadow: 0 0 5px black;
}

.stat-label {
  font-size: 1.3em;
  line-height: 1;
  margin-top: 0;
}

.fadeOut {
  opacity: 0;
  width: 0;
  transition: width 0.5s 0.5s, height 0.5s 0.5s, opacity 0.5s;
}

.fadeIn {
  opacity: 1;
  width: auto;
  transition: width 0.5s, height 0.5s, opacity 0.5s 0.5s;
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  #home-links .btn {
    width: auto;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .navbar-collapse {
    padding: 0;
  }

  .navbar-dark .navbar-nav .nav-link:not(:first-child) {
    margin-left: 0.75rem;
  }

  .premium-table-wrap:first-child {
    margin-right: 2rem;
  }

  #donation-table-wrap {
    flex: 1 0;
  }

  #premium-table-wrap {
    flex: 2 0;
  }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .home-stats-wrapper {
    max-width: 55%;
  }

  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl {
    max-width: 1550px;
  }
}
